@model Appointment_Scheduler.Models.AppointmentDetailsModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Appointment</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null && ViewBag.Error != "")
            {
                <div id="error-div" style="position:relative;width:1100px;height:50px;text-align:center; margin:0 auto;">
                    <button style="position:absolute;top:0; right:0;" type="button" class="btn-close"
                            onclick="getElementById('error-div').remove();">
                    </button>
                    <h5 class="alert-danger">@ViewBag.Error</h5>
                </div>
            }
            <div class="form-group">
                <label class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="email" type="hidden" value=@HttpContextAccessor.HttpContext.Request.Cookies["current_user_email"] class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Start Time</label>
                <input asp-for="start_time" type="time" class="form-control" />
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End Time</label>
                <input asp-for="end_time" type="time" class="form-control" />
                <span asp-validation-for="end_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Duration</label>
                <input asp-for="duration" class="form-control" type="hidden" value=""/>
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input asp-for="date" type="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="status" class="form-control" type="hidden" value="Upcoming" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
